*{
	padding:0px;
	margin-top:0px;
	color:white;
}

.container{
	border:3px solid red;
	margin:auto;
	width:40%;
	padding:2.5%;
	background-color:black;
	
}

.row1{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
	align-items:center;
}

.row2{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
	align-items:center;
}

.row3{
	display:flex;
	justify-content:space-evenly;
	margin-bottom:20px;
	align-items:center;
}

.time{
	display:flex;
	gap:20px;
	align-items:center;
}

p{
	font-size:24px;
}

#date{
	background-color:red;
	text-align:center;
	padding:2px;
	color:black;
	font-weight:bold;
}

#month{
	
	background-color:red;
	text-align:center;
	padding:2px;
	color:black;
	font-weight:bold;
}

#year{
	background-color:red;
	text-align:center;
	padding:2px;
	color:black;
	font-weight:bold;
}

#hour{
	background-color:red;
	text-align:center;
	padding:3px;
	color:black;
	font-weight:bold;
}

#minute{
	background-color:red;
	text-align:center;
	padding:3px;
	color:black;
	font-weight:bold;
}

#second{
	background-color:red;
	text-align:center;
	padding:3px;
	color:black;
	font-weight:bold;
}

p, span {
    display: inline-block; 
}

span{
	margin-left:5px;
	font-size:24px;
	color:red;
}



